.container{
    background-color: lightgrey;
    min-height: 500px;
    display: grid;
    grid-template-areas: 
        "header header header"
        "menu content content"
        "footer footer footer";
    grid-template-rows: 100px 500px 100px;
}
.container header {
    grid-area: header;
    background-color: lightblue;
}

.container .menu {
    grid-area: menu;
    background-color: lightgreen;
}
.container .content {
    grid-area: content;
    background-color: lightcoral;
}
.container footer {
    grid-area: footer;
    background-color: lightpink;
}

@media (max-width: 600px) {
    .container {
        grid-template-areas: 
            "header"
            "menu"
            "content"
            "footer";
        grid-template-rows: 100px auto auto 100px;
    }
}